<!doctype html>
<html ng-app>
    <head>
        <title>Test</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript"> google.load('visualization', '1', {packages: ['table']});</script>
        <script>
            $(document).ready(function()
            {
                var feedURL = 'http://spreadsheets.google.com/tq?key=0Aohzi8M76M4edEdTN0FGR3R6NTFGM2Q0SlN4ai1NRGc&pub=1&tq=select%20C%2CD%2CE';
                var jsonURL = 'https://spreadsheets.google.com/feeds/worksheets/0Aohzi8M76M4edEdTN0FGR3R6NTFGM2Q0SlN4ai1NRGc/public/basic?alt=json';

                $("#district").change(function()
                {
                    $("#viz").empty();
                    sheet=$(this[this.selectedIndex]).text();
                    function handleResponse(response) 
                    {
                        var data = response.getDataTable();
                        var table = new google.visualization.Table(document.getElementById("viz"));
                        table.draw(data, null);
                    }
                    var query = new google.visualization.Query(feedURL+'&sheet='+sheet);
                    query.send(handleResponse);
                });

                $.getJSON(jsonURL,function(result)
                {
                    $.each(result.feed.entry, function (i, item) 
                    {
                        $('#district').append($('<option>', {text: item.title.$t}));
                    });
                });

            });
        </script>

    </head>
    <body>
        <header> 
            <h1>Akshaya</h1>
        </header>
        <div>
            Select your district <select id="district" class="form-control" ng-model="district"></select>
        </div>
        <div id='block'>
            Now select a block in {{district}} <select id="block" class="form-control" ng-model="block"></select>
        </div>
        <div id='viz'>
            loading data for <a href=https://spreadsheets.google.com/tq?key=0Aohzi8M76M4edEdTN0FGR3R6NTFGM2Q0SlN4ai1NRGc&sheet={{district}}&pub=1&output=html>{{district}}</a>...
        </div>
    </body>
</html>